{% extends 'base.html' %}

{% block content %}
	<h1>About</h1>
	<h3>{{ title|title }}</h3>

	<p>This page was construction from src.template</p>

	{{ my_html|striptags|slugify }}

	<p>
		{{ my_number }}
		{{ my_list }}
	</p>

	<ul>
		<li>Item_01</li>
		<li>Item_02</li>
		{% for abc in my_list%}
			{% if abc == 312 %}
				<li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
			{% elif abc == "Abc" %}
				<li>This is not the network</li>
			{% else%}
				<li>{{ forloop.counter }} - {{ abc }}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}